/*Cette page a été faite avec la technique mobile first*/
/*La 1ière partie correspond aux propriétés communes à toutes les tailles d'écran*/
/*Ensuite chaque partie entre les breakpoint est indiqué par un commentaire détaillant le media querie, du plus petit au plus grand*/

/*** ALL SCREEN ATTRIBUTES************************************************************************/

body {
  margin: 0;
  font-size: 20px;
  text-shadow: 0.01rem 0rem 0rem #deebff;
  font-family: "Raleway", Arial, sans-serif;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: black;
}
button,
input {
  margin: 0;
}
h1,
h2,
h3 {
  font-weight: bold;
}
h1 {
  font-size: 1.4rem;
  margin: 0;
  width: 100%
}
h2 {
  font-size: 1.3rem;
  width: 100%;
}
h3 {
  font-size: 1.1rem;
  width: 100%;
}
img {
  object-fit: cover;
}
.section {
  display: flex;
  flex-wrap: wrap;
}
.bold {
  font-weight: bold;
}

/***HEADER PART ATTRIBUTES***/
.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 1rem;
}
.nav {
  width: 30rem;
}
.menu {
  display: flex;
}
.mobile-menu {
  display: none;
}
.menu-item {
  width: 33%;
  text-align: center;
  padding: 0.8rem;
}
.signup {
  text-shadow: 0.01rem 0rem 0rem #deebff;
  text-decoration: none;
  color: #0065fc;
  font-weight: bold;
}
header a:hover {
  color: #0065fc;
}
.active {
  text-decoration: none;
  text-shadow: 0.01rem 0rem 0rem #0065fc;
  border-top: thin solid #0065fc;
}
header .active a {
  color: #0065fc;
}
.inactive {
  text-shadow: 0.01rem 0rem 0rem #deebff;
  border-top: thin solid #f2f2f2;
}
.inactive:hover {
  border-top: thin solid #0065fc;
}
/***GLOBAL CARDS ATTRIBUTES***/
.card {
  background-color: white;
  font-size: 1rem;
  margin: 1rem 0rem 0.5rem 0rem;
  box-shadow: 0.7rem 0.7rem 1rem rgb(224, 224, 224);
  border-radius: 1rem;
  padding: 0.3rem;
  display: flex;
  width: 335px;
}
.card:hover {
  box-shadow: 0.5rem 0.5rem 0.5rem #deebff;
}
.card-description {
  display: flex;
  flex-direction: column;
  margin: 0;
}
.card-description-item em {
  font-weight: bold;
  font-style: normal;
}
.fas.fa-star {
  font-size: 12px;
  background-color: white;
  padding: 0;
  margin: -0.15rem;
}
.popular .card-description {
  padding: 0.8rem 0 0rem 1.5rem;
}
.hosting .card-description {
  padding: 0.2rem 0 0.4rem 0.8rem;
}
.popular .card-description-item:nth-child(2) {
  font-size: 0.8rem;
  padding: 0.4rem 0 1.5rem 0;
}
.hosting .card-description-item:nth-child(2) {
  font-size: 0.9rem;
  padding-top: 0.2rem;
  padding-bottom: 0.5rem;
}
/***GLOBAL ICONS ATTRIBUTES***/
.fas {
  color: #0065fc;
  font-size: 1.2rem;
}
.grey {
  color: rgb(224, 224, 224);
}
/***FORM PART ATTRIBUTES***/
.search-information {
  font-size: 1rem;
  margin: 0.9rem 0;
}
.form {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  height: 50px;
  margin: 1.3rem 0 2rem 0;
  position: relative;
}
.map-container {
  width: 50px;
  height: 50px;
}
.map-circle {
  background-color: #f2f2f2;
  border-radius: 1rem 0 0 1rem;
  width: 100%;
  height: 100%;
}
.container-icon {
  position: relative;
  width: 100%;
  height: 100%;
}
.fas.fa-map-marker-alt {
  font-size: 1.1rem;
  color: black;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
input {
  color: black;
  font-size: 1.1rem;
  text-shadow: 0.4px 0.4px 0.3px black;
  font-weight: 500;
  line-height: 46px;
  border-style: solid none;
  border-color:  #f2f2f2;
  border-width: 1px;
  padding-left: 1.2rem;
}
input:focus {
  background-color:#deebff;
  outline: none;
}
.search-button-container {
  height: 50px;
  position: relative;
  border-radius: 1.5rem;
}
.icon-button {
  width: 50px;
  background-color: #0065fc;
  border-style: none;
  border-radius: 1.1rem;
}
.text-button {
  display: none;
  border-style: none;
  padding: 0;
}
input {
  width:245px;
}
.search-buttons {
  position: absolute;
  left: 295px;
}
.fas.fa-search {
  color: #deebff;
  font-size: 1rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.search-text {
  background-color: #0065fc;
  color: #deebff;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 0.9rem 1rem;
  border-radius: 0 1rem 1rem 0;
  }
/***FILTERS PART ATTRIBUTES***/
.filter-title {
  font-weight: bold;
  font-size: 1.2rem;
  width: 100%;
  display: inline-flex;
  align-items: center;
}
.filter-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0.5rem;
}
.filter-container {
  position: relative;
  height:50px;
  margin: 0.5rem 1rem;
  display: flex;
  align-items: center;
}
.filter-circle {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  left: -25px;
  background-color: #deebff;
}
.filter-icon-circle {
  width: 100%;
  height: 100%;
  position: relative;
}
.filter-container .fas {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.filter-text {
  font-weight: 700;
  font-size: 1rem;
  padding: 14.5px;
  padding-left: 31px;
  border: 2px rgb(224, 224, 224) solid;
  border-left: none;
  border-top-right-radius: 3rem;
  border-bottom-right-radius: 3rem;
}
.filter-text:hover {
  text-shadow: 0.5px 1px 1px;
  text-decoration: underline;
  color: #0065fc;
  transition: color 1s;
  cursor: pointer;
}
.filter-footer {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin: 1.4rem 0;
}
.filter-footer-ajust {
  width: 35px;
}
.filter-footer-circle {
  position: relative;
  height: 23px;
  width: 23px;
  border-radius: 50%;
  border: 1px rgb(224, 224, 224) solid;
}
i.fas.fa-info {
  background-color: white;
  font-size: 0.8rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.filter-footer-text {
  font-size: 1rem;
  margin: 0;
  padding-left: 0.5rem;
}

/*POPULAR*/

.fa-chart-line {
  background-color: #f2f2f2;
  color: black;
  font-size: 24px;
  width: 5%;
  text-align: center;
  align-self: center;
}
.popular {
  background-color: #f2f2f2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.popular .card {
  height: 130px;
  overflow: hidden;
}
.popular .card-item {
  width: 50%;
}
.popular img.card-item {
  width: 40%;
  overflow: hidden;
  border-radius: 1rem 0 0 1rem;
}
/*HOSTING*/
.hosting {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.hosting .card {
  flex-direction: column;
  justify-content: space-between;
  height: 190px;
}
.hosting img.card-item {
  overflow: hidden;
  width: 100%;
  border-radius: 1rem 1rem 0 0;
  height: 155px;
}
/*ACTIVITY*/
.activity {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}
.activity .card {
  flex-direction: column;
  padding: 0;
}
.activity img.card-item {
  height: 136px;
  border-radius: 1rem 1rem 0 0;
}
.activity .card .card-item:nth-child(2) {
  font-size: 1rem;
  padding: 1rem;
  font-weight: bold;
}
/*FOOTER*/
.footer {
  background-color: #f2f2f2;
  width: 100%;
  margin-top: 2rem;
}
.footer li {
  margin: 0.4rem 0;
}
.link4 {
  font-size: 1rem;
  font-weight: 300;
}
.link4:hover {
  color: #0065fc;
}
/*** MEDIA QUERIES S*************************************************************************/
@media (max-width: 700px) {
  .card {
    width: 95%;
  }
  .section {
    padding: 1rem;
  }
  .header {
    padding-top: 1.5rem;
  }
  .header img {
    padding-left: 1.5rem;
  }
  .nav {
    width: 7rem;
  }
  .menu .active,
  .menu .inactive {
    display: none;
  }
  .menu .menu-item {
    width: 100%;
  }
  .mobile-menu {
    width: 100%;
    display: initial;
    margin: 1rem 0;
  }
  .mobile-menu-container {
    display: flex;
  }
  .mobile-menu .menu-item {
    width: 50%;
    font-size: 1rem;
  }
  .mobile-menu .active {
    border-top: none;
    border-bottom: medium solid #0065fc;
  }
  .mobile-menu .inactive {
    border-top: none;
    border-bottom: medium solid #f2f2f2;
  }
  .mobile-menu .inactive:hover {
    border-bottom: medium solid #0065fc;
  }
  .popular h2 {
    width: 85%;
  }
  .activity {
    align-items: center;
  }
  .footer-item:nth-child(1) {
    padding: 2rem 2rem 1.1rem 2rem;
  }
  .footer-item:nth-child(2) {
    padding: 0 2rem;
  }
  .footer-item:nth-child(3) {
    padding: 1.7rem 2rem 2.3rem 2rem;
  }
}

/*** MEDIA QUERIES M*************************************************************************/
@media all and (min-width: 700px) and (max-width: 1024px) {
  .menu-item {
    padding-top: 2rem;
  }
  .header img {
    padding-left: 2rem;
    padding-top: 1.5rem;
  }
  section {
    padding: 1rem 2rem 2rem 2rem;
  }
  .footer-item {
    padding: 1.5rem;
  }
}
@media all and (min-width: 700px) and (max-width: 1300px) {
  .activity .card {
    width: 40%;
    height: 190px;
  }
  .activity img.card-item {
    height: 136px;
  }
  .activity {
    flex-direction: row;
    justify-content: space-evenly;
  }
  }

/*** MEDIA QUERIES BOTH M AND L*************************************************************************/
@media all and (min-width: 700px) {
  .header {
    margin-bottom: 2rem;
  }
  .menu-item:nth-child(3) {
    text-align: left;
  }
  .icon-button
  {
  display: none;
  }
  .text-button {
  display: initial;
  }
  .filter-footer {
    align-items: center;
  }
  .popular h2 {
    width: 95%;
  }
  .tablet-grey-mode {
    background-color: #f2f2f2;
    padding: 2rem;
  }
  footer {
    display: flex;
    justify-content: space-between;
  }
  .footer-item {
    width: 33%;
  }
}

/*** MEDIA QUERIES L*************************************************************************/
@media all and (min-width: 1024px) {
.menu-item {
  padding-top: 3rem;
}
.header img {
  padding-left: 3rem;
  padding-top: 3rem;
}
section {
  margin: 1rem 3rem;
}
.form {
  margin: 0.25rem 0 1.3rem 0;
}
.filter-title {
  width: 7%;
}
.filter-container {
  margin: 0.5rem 2rem 0.5rem 1rem;
}
.filter-text {
  font-weight: 700;
  font-size: 1.15rem;
  padding: 11px 22px 13px 35px;
}
.box .section {
  padding: 2rem;
}
.popular {
  border-radius: 1.5rem;
}
.hosting .card {
  width: 30%;
}
.hosting {
  background-color: #f2f2f2;
  border-radius: 1.5rem;
}
.tablet-grey-mode {
  border-radius: 1.5rem;
}
.footer-item {
  padding: 2rem 3rem 3rem 3rem;
}
}
@media all and (min-width: 1300px) {
  .filter-box {
    padding: 0;
  }
  .box {
    display: flex;
    flex-direction: row-reverse;
  }
  .hosting {
    justify-content: space-between;
    width: 65%;
    margin-right: 1rem;
  }
  .hosting .card {
    width: 30%;
  }
  .popular {
    width: 30%;
    margin-left: 1rem;
  }
  .activity {
    max-height: 550px;
  }
  .activity .card {
    width: 24%;
  }
  .vertical img.card-item {
    overflow: hidden;
    height: 390px;
  }
  .horizontal img.card-item {
    overflow: hidden;
  }
  img.big.card-item {
    height: 179px;
  }
  img.small.card-item {
    height: 109px;
  }
  img.small-medium.card-item {
    height: 138px;
  }
  img.big-medium.card-item {
    height: 153px;
  }
}
